@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities
{
	.text-shadow
	{
		--text-shadow-color: black;
		text-shadow: 2px 2px 4px var(--text-shadow-color);
	}
	.text-shadow-black
	{
		--text-shadow-color: black;
	}
	.text-shadow-white
	{
		--text-shadow-color: white;
	}
	.text-shadow-sm
	{
		text-shadow: 1px 1px 2px var(--text-shadow-color);
	}
	.text-shadow-md
	{
		text-shadow: 4px 4px 8px var(--text-shadow-color);
	}
	.text-shadow-lg
	{
		text-shadow: 15px 15px 30px var(--text-shadow-color);
	}
	.text-shadow-none
	{
		text-shadow: none;
	}
}
